@media (max-width: 900px) {
    .content {
        padding: 15vh 1rem !important;
    }
    .content .top{
        flex-direction: column;
    }
    .content .top .txt {
        padding: 0 1rem 0 3rem;
    }
    .content .top img {
        width: 70vw;
    }
    .content .para {
        flex-direction: column;
    }
    .content .para img {
        width: 80vw !important;
    }
}
@media(max-width:1000px) {
    .content .para {
        flex-direction: column;
    }
    .content .para img {
        width: 50vw;
    }
}
@media(max-width:621px) {
    .content .top {
        padding: 2rem 0; 
     }
     .content .top .txt {
        padding: 0 1rem 0 2rem;
    }
}