/* services page-1 */
:root {
    --main-bg-clr: #06052f;
    --main-clr: white;
    --main-p-clr: #7a819b;
 }
 .grid {
    display: grid;
    grid-template-columns: auto auto;
 }


 .main {
     display: block;
     color: var(--main-clr);
     padding: 0 0 20vh 0;
 }
 .top-div {
     padding: 20vh 0;
     text-align: center;
 }
 .top-div .header-txt {
    padding-bottom: 1rem;
    color: var(--main-clr) !important;
 }
 .content {
     padding: 15vh 5vw;
     text-align: center;
     background-color: #06052f;
 }
 .content ul {
    text-align: start;
 }
 .content .top {
    justify-content:center;
    align-items: center;
    padding: 2rem; 
 }
 .content .top .txt {
    border-right: .5px hsl(150, 50%, 50%) solid;
    padding-right: 8rem;
 }
 .content .top h1 {
    padding: 2rem 0;
    color: hsl(150, 50%, 50%) !important;
 }
 .content ul li {
    position: relative;
 }
 .content .top ul li::before {
    content: "\f56b";
    position: absolute;
    top: 1rem;
    left: -2rem;
    font: var(--fa-font-solid);
    color: #40bf80;
 }
 .content li p{
     padding: .7rem 0;
 }
 .content .img {
    width: 40%;
}
.content .img img {
    width: 110%;
    padding-left: 1rem;
}
.para {
    margin: 3rem 2rem 0 0;
    text-align: start;
    justify-content:center;
    align-items: center;
}
.para p {
    line-height: 2.5rem;
    margin-left: 1rem;
}
.para p:first-child {
    padding: 3rem 0rem 2rem 0rem;
    border-bottom: 1px #40bf80 solid;
}
.para p:nth-child(2) {
    padding: 2rem 0rem 0 0rem;
    color: var(--main-clr) !important;
}
.para .img {
    width: 170%;
    transform: rotate3d(0,1,0, 180deg);
}
.para .img img {
    width: 100%;
    padding-left: 1rem;
}