
@import url('styles.css');

/* special-teams-profile-img */
@media (max-width: 380px) {
    .teams .txt-bottom .box .profile {
        flex-direction: column;
        align-items: center;
    }
    .teams .txt-bottom .box .profile .txt {
        text-align: center;
        margin-top: 3rem;
        inset: 0;
    }
}
@media (max-width: 515px) {
    .products button {
        margin: 1rem auto;
        display: block;
        color: #06052f;
    }
}

/* reset background color for above 620px mark */
@media (min-width: 1183px) {
    .nav {
        background-color: transparent !important;
    }
}
@media (max-width: 1100px) and (min-width: 621px) {
    .services .txt{
        margin: 0;
    }
    .services .txt h1{
        margin: 3rem 17rem 2rem 17rem;
    }
    .services .txt p{
        margin: 3rem 7rem 2rem 7rem;
    }
    .services .grid {
        margin: 0;
        grid-gap: 15px 10px;
    }
    .about {
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem 0rem 0rem;
    }
    .about img {
        width: 80%;
    }
    .contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact .not-form .box {
        /* width: 50vw; */
        margin: 2rem clamp(0rem, 15vw, 20rem);

        padding: 150rem 0;
    }
}
@media (max-width: 850px) and (min-width: 621px) {
    .teams .txt-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .teams .txt-bottom .box {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
}
@media (max-width: 1000px) and (min-width: 621px) {
    .services .txt{
        margin: 0;
    }
    .services .txt h1{
        margin: 3rem 10rem 2rem 10rem;
    }
    .services .txt p{
        margin: 3rem 7rem 2rem 7rem;
    }
    .services .grid {
        display: flex;
        flex-direction: column;
        margin: 0 4rem;
    }

}
@media (max-width: 919px) and (min-width: 745px) {
    .footer .top .group2 div ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 1rem 1rem;
    }
    
}

@media (min-width: 621px) and (max-width:1305px) {
    .teams {
        flex-direction: column;
        align-items: center;
    }
    .teams .txt-top {
        text-align: center;
        margin: 0 0 3rem 0;
    }
    .teams .txt-top .btn {
        margin: 0 0 0 2rem;
    }
}

@media (max-width: 744px) {
    .footer {
        background-color: var(--main-bg-color);
        padding: 2rem 0 5rem 0;
        border-top: 2px var(--main-txt-color) solid;
    }
    .footer .top{
        border-bottom: 2px var(--main-txt-color) solid;
        margin-bottom: 3rem;
        margin: 0 0 3rem 0;
        flex-direction: column;
        padding: 0 1rem;
        align-items: center;
    }
    .footer .top .group1 {
        margin-right: 0; 
    }
    .footer .top .group2 {
        margin-left: 1rem; 
    }
    .footer .top .group {
        flex-direction: column;
    }
    .footer .bottom {
        position: absolute;
        inset: auto 2rem auto 2rem;
    }
}
@media (max-width: 1182px) and (min-width: 621px){
    .nav {
        position: fixed;
        inset: 0 0 0 50%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        background-color: var(--main-bg-color);
        transform: translateX(100%);
        transition: transform .35s ease-out;
    }
    .nav[data-visible="true"] {
        transform: translateX(0%);
    }
    .toggle-nav[data-x="true"] {
        transition: all linear .3s;
    }
    header .toggle-nav, 
    header .plane {
        transition: all linear .3s;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 2.3rem;
        right: 15rem;
        z-index: 9999;
        font-size: 1.5rem;
    }
    header .toggle-nav:hover,
    .plane:hover {
        transform: scale(1.2);
    }
    header .plane {
        right: 5rem;
    }   
    header .blog {
        right: 10rem;
        z-index: 1;
    }
    header .nav .btn {
        transform: translateX(0%);
    }
    .home .col-2 .search_img {
        top: 15vw;
    }
    /* footer follow us */
}
@media (max-width: 970px) and (min-width: 621px){
    .home {
        /* padding: 5vw  clamp(15px, 3vw, 56px); */
        /* padding: 0 5rem; */
        padding: 10vw 0 auto 20vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .not-header {
        padding: 0 auto;
        margin: 0 auto;
        top: 0;
    }

    .home .col-2 .search_img {
        position: relative;
        width: 35%;
        /* top: -5vw;
        right: 38vw; big*/
        right: 38vw;
        margin: 0 0 20vw 0;
    }
    .products {
        background-attachment: scroll;
    }
}
@media (min-width: 620px){
    header .nav li{
        margin-left: 1rem;
    }
    .home .col-1 {
        margin-top: 4rem;
        margin-right: 8rem;
    }
}
/* small devices (320 -620px) */
/* 620 below is max width
620 above is min width */
@media (max-width: 620px) {
    .header-logo {
        position: fixed;
        left: 2rem;
    }
    .nav {
        position: fixed;
        inset: 0 0 0 20%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        background-color: var(--main-bg-color);
        transform: translateX(100%);
        transition: transform .35s ease-out;
    }
    .nav[data-visible="true"] {
        transform: translateX(0%);
    }
    .toggle-nav[data-x="true"] {
        transition: all linear .3s;
    }
    header .toggle-nav, 
    header .plane {
        transition: all linear .3s;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 2.3rem;
        right: 8rem;
        z-index: 9999;
        font-size: 1.5rem;
    }
    header .toggle-nav:hover,
    .plane:hover {
        transform: scale(1.2);
    }
    header .plane {
        right: 2rem;
    }   
    header .blog {
        right: 5rem;
        z-index: 1;
    }

/* home start */
    .home {
        padding: 0 clamp(15px, 3vw, 56px);
        flex-direction: column;
    }
    .home .col-1 ul  {
        flex-direction: column;
    }
    .home .col-2 {
        left: 35vw;
        margin: 10vw 0 10vw 30vw;
    }
    .home .col-2 .calc_img {
        position: relative;
        width: 80%;
    }
    .home .col-2 .search_img {
        bottom: 10vw;
        right: 47vw;
        width: 40%;
    }
    .home .col-1 {
        margin-top: 0rem;
    }
    .home img {
        object-fit: contain;
        height: auto;
        width: 80%;
    }
    
    @keyframes search {
        0%{transform: translateY(50px)};
    }
/* home end */

/* services start */
    .services .txt {
        margin: 3rem 1rem 2rem 1rem;
        text-align: center;
    }
    .services .grid {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .services .grid .col {
        margin: 0 0 4rem 0;
    }
    .services .grid h2 {
        margin: 0 0 0 6rem;
    }
    .services .grid p {
        margin-top: clamp(0rem, 5vw, 2rem);
        margin-left: 6rem;
    }
    .services .grid a {
        margin: 0 0 0 6rem;
    }
    .services .grid .col i {
        margin: 0;
    }
/* services end */

/* about start */
    .about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        --gap: 0;
        border-top: white 2px solid;
        border-bottom: white 2px solid;
    }
    .about .txt-top h1 {
        margin: 0 2rem;
    }
    .about .txt-bottom {
        margin-left: 1rem;
        padding: 0;
    }
    .about .txt-bottom h3 {
        margin-top: 1rem;
    }
    .about .txt-bottom i {
        position: relative;
        top: 2.5rem;
        left: -1.5rem;
        color: #be63f9;
    }
    .about .img {
        margin: 2rem 0 4rem 3rem;
    }
    .about .img img{
        max-width: clamp(79%, 5vw, 89%);
        height: auto;
    }
/* about end */
.products {
    opacity: .8;
}
/* teams start */
    .teams {
        border-bottom: white 2px solid;
        flex-direction: column;
        --gap: 0;
        padding: 0;
        display: flex;
    }
    .teams .txt-top {
        margin: 4rem 2rem 0rem 2rem;
    }
    .teams .txt-top h1 {
        text-align: center;
        letter-spacing: .5px;
    }
    .teams .txt-top p {
        margin: 1.5rem 0;
    }
    .teams .txt-bottom {
        margin: 2rem 2rem 3rem 2rem;
        display: block;
        /* display: flex; */
    }
    .teams .txt-bottom .box {
        margin-top: 3rem;
        width: auto;
        height: auto;
    }
    .teams .txt-bottom .box img{
        position: relative;
        top: 2rem;
    }
    .teams .txt-bottom .box .profile {
        margin-bottom: 2rem;
    }
    .teams .txt-bottom .box .profile img {
        width: 20vw;
    }
    .teams .txt-bottom .box .profile .txt{
        position: relative;
        top: clamp(1.7rem, 10vw,5rem);
        left: 1rem;
    }
    .teams .btn-0, .btn, .btn-1 {
        padding: 10px 0;
        width: 170px;
    }
/* teams end */


/* contact us start */
.contact {
    flex-direction: column;
    --gap: 0;
    padding: 0;
}
.contact .not-form {
    margin: 2rem 1rem 1rem 1rem;
}
.contact .not-form .txt-div {
    text-align: center;
}
.contact .not-form .txt-div p{
    margin: 2rem auto;
}
.contact .not-form .box h3{
    font-size: clamp(18px, 3.5vw, 28px);
}
.contact .form {
    margin: auto;
}
/* contact us end */

/* footer start */
.footer {
    background-color: var(--main-bg-color);
    padding: 2rem 0 5rem 0;

}
.footer .top{
    border-bottom: 2px var(--main-txt-color) solid;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.footer .top .group2 {
    margin-left: 1rem; 
}
.footer .top .group {
    flex-direction: column;
}
.footer .bottom {
    position: absolute;
    inset: auto 2rem auto 2rem;
}
/* footer end */
}

